USE [master]
GO
/****** Object:  Database [Students ]    Script Date: 30/10/2020 9:54:27 AM ******/
CREATE DATABASE [Students ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Students', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Students .mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Students _log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Students _log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Students ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Students ]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 30/10/2020 9:54:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 30/10/2020 9:54:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StdID] [int] IDENTITY(1,1) NOT NULL,
	[StdName] [nvarchar](max) NULL,
	[StdAge] [int] NOT NULL,
	[StdEmail] [nvarchar](max) NULL,
	[StdPhone] [nvarchar](max) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[StdID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20201022135443_initial', N'2.2.6-servicing-10079')
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([StdID], [StdName], [StdAge], [StdEmail], [StdPhone]) VALUES (1, N'Robin', 26, N'robin@gmail.com', N'98978977789')
INSERT [dbo].[Student] ([StdID], [StdName], [StdAge], [StdEmail], [StdPhone]) VALUES (2, N'Atul mukhija', 19, N'atul.18.2000@gmail.com', N'+642108680311')
INSERT [dbo].[Student] ([StdID], [StdName], [StdAge], [StdEmail], [StdPhone]) VALUES (3, N'jot lubana', 22, N'jot.123@.com', N'87678890')
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
USE [master]
GO
